/* 
    Name: Courtney McDonald & Emma Marshall
    Project: David's Barbeque
    Date: Spring 2022
*/

/* basic styling start */

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    position: relative;
}

html {
    font-size: 18px;
    --primary: #d16e28;
    --secondary: #b33424;
    --dark: #373435;
    --white: #ffffff;
    --light: #ededed;
    --medium: #737373;
    scroll-behavior: smooth;
}

body {
    font-size: 1rem;
    line-height: 1.25rem;
    color: var(--dark);
    font-weight: 400;
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--white);
}

::selection {
    background-color: var(--secondary);
    color: var(--white);
}

section, .wrapper {
    padding: 20px 40px;
    margin-left: auto;
    margin-right: auto;
}

.section-full-width {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

h1, h2, h3, h4, .h1, .h2, .h3, .h4 {
    font-family: 'Alfa Slab One', serif;
    line-height: 1.25em;
    font-weight: 700;
    margin: 0 0 20px 0;
    color: var(--dark);
    letter-spacing: 0.075rem;
    text-align: center;
}

h1, .h1 {
    font-size: 51px;
}

h2, .h2 {
    font-size: 34px;
}

h3, .h3 {
    font-size: 24px;
}

h4, .h4 {
    font-size: 18px;
}

p {
    margin: 0 0 20px 0;
}

.gradient-t2b, .gradient-b2t, .dark-hover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    right: 0;
}

.gradient-t2b {
    background-image: linear-gradient(var(--dark), transparent);
}

.gradient-b2t {
    background-image: linear-gradient(transparent, var(--dark));
}

.dark-hover:hover {
    background-color: var(--dark);
    opacity: 0.5;
}

@media only screen and (min-width: 576px) {
    html {
      font-size: 20px;
    }

    h1, .h1 {
        font-size: 67px;
    }

    h2, .h2 {
        font-size: 51px;
    }

    h3, .h3 {
        font-size: 34px;
    }

    h4, .h4 {
        font-size: 24px;
    }

    section, .wrapper {
        margin-left: 3%;
        margin-right: 3%;
    }
}

/* basic styling end */

/* links and buttons start */

a:link, a:active, a:visited {
    color: var(--primary);
    transition: color 250ms ease;
}

a:hover {
    color: var(--secondary);
}

a.btn-primary, a.btn-secondary, .btn-primary, .btn-secondary {
    font-weight: 700;
    padding: 15px 30px;
    border-radius: 7px;
    filter: drop-shadow(0 0 10px var(--medium));
    font-size: 1.15rem;
    display: block;
    width: fit-content;
    text-align: center;
    margin: 10px 0;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid transparent;
    text-decoration: none;
}

a.btn-primary, .btn-primary {
    background-color: var(--primary);
    color: var(--white);
    transition: color 250ms ease;
    transition: background-color 250ms ease;
}

a.btn-secondary, .btn-secondary {
    background-color: var(--white);
    border: 1px solid var(--primary);
    color: var(--primary);
    transition: color 250ms ease;
    transition: background-color 250ms ease;
}

a.btn-primary:hover, a.btn-secondary:hover, .btn-primary:hover, .btn-secondary:hover {
    background-color: var(--secondary);
    border: 1px solid transparent;
    color: var(--white);
    cursor: pointer;
}

a.btn-primary:focus, a.btn-secondary:focus, .btn-primary:focus, .btn-secondary:focus {
    outline: 2px solid var(--secondary);
}

.btn-primary:hover, .btn-secondary:hover {
    cursor: pointer;
}

/* links and buttons end */

/* forms start */

label {
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

input[type=text], input[type=email], input[type=tel], input[type=date], input[type=number] {
    width: 100%;
    padding: 10px 10px;
    border-radius: 7px;
    border: none;
    background-color: var(--light);
    margin: 5px 0;
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
    color: var(--dark);
}

input:focus {
    outline: 2px solid var(--secondary);
}

::placeholder {
    color: var(--dark);
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

/* forms end */

/* header start */

div.headernav {
    width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	align-content: center;
	justify-content: center;
    background-color: var(--dark);
    padding: 10px;
}

.nav-logo {
    height: 30px;
    width: auto;
    margin-right: 5px;
}

.nav-logo:hover {
    animation: wiggle 600ms;
}

#nav-logo-link {
    display: flex;
    align-items: center;
    padding-left: 0;
    font-family: 'Alfa Slab One', serif;
}

#nav-logo-link:hover > .nav-logo { animation: wiggle 600ms; }

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    20% { transform: rotate(30deg); }
    40% { transform: rotate(-30deg); }
    60% { transform: rotate(30deg); }
    80% { transform: rotate(-30deg); }
    100% { transform: rotate(0deg); }
  }

div.headernav.home {
    background-color: transparent;
    position: absolute;
    z-index: 1;
}

.navbar-open{
    color: var(--white);
    border: none;
    background-color: transparent;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    padding: 0;
    margin: 0;
}

.navbar {
	display: none;
}

.navbar.open {
    display: block;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--primary);
    width: 100vw;
    overflow:visible;
    margin: 0;
    height: 300px;
    justify-content: space-between;
    padding: 20px;
    position: absolute;
    top: 0;
    z-index: 999;
}

.nav-order-button.btn-primary {
    display: inline-block;
    height: 36px;
    font-weight: 400;
    padding: 5px 8px 7px 8px;
    text-decoration: none;
    filter: none;
    color: var(--white);
    border: 2px solid var(--white);
    font-size: 18px;
    margin: 30px 0 0 0;
}

a.nav-item {
    text-decoration: none;
    color: var(--white);
}

.navbar-close {
    color: var(--white);
    position: absolute;
    top: 18px;
    right: 23px;
    font-size: 30px;
}

@media only screen and (min-width: 992px) {
    div.headernav {
        justify-content: flex-start;
    }

    .navbar-open {
        display: none;
    }

    .navbar {
        display: flex;
        border: none;
        background: none;
        height: fit-content;
        padding: 10px;
        flex: 1;
    }

    i.navbar-close {
        display: none;
    }

    .nav-order-button.btn-primary {
        position: absolute;
        top: 4.5px;
        right: 12.5px;
        display: block;
        border: 1px solid transparent;
        margin: 0;
    }

    a.nav-item {
        padding: 0 20px;
        color: var(--white);
        text-decoration: none;
        font-family: 'Alfa Slab One', serif;
    }

    a.nav-item:hover {
        color: var(--primary);
    }
}

.disclaimer{
    width:100%;
    background-color: var(--primary);
    text-align: center;
    font-family: 'Open Sans';
    padding: 5px;
}

.disclaimer p{
    margin: 0;
}

/* header end */

/* footer start */

.prefooter-container {
    background-color: var(--light);
    padding: 20px 40px;
    margin-top: 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.prefooter-location {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.prefooter-location i {
    font-size: 30px;
}

.prefooter-location p {
    margin: 0;
    padding-left: 20px;
}

.main-footer-container {
    padding: 20px 40px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--dark);
    color: var(--white);
    font-size: 18px;
}

.main-footer-container h4 {
    color: var(--white);
    margin: 20px 0 10px 0;
}

.main-footer-container a {
    color: var(--white);
    text-decoration: none;
}

.main-footer-container a:hover {
    color: var(--primary);
}

p.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
    font-size: 30px;
}

p.footer-phone i {
    font-size: 25px;
}
.footer-disclaimer {
    margin-top: 40px;
    text-align: center;
}

/* footer end */

/* hero start */

.hero-container {
    width: 100%;
    height: 400px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

.hero-container img, .hero-container div {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.hero-container h1 {
    color: var(--white);
}

.hero-container a.btn-primary {
    position: absolute;
    bottom: -35px;
}

/* hero end */

/* button block start */

.btn-block {
    width: 100%;
    height: 237px;
    margin: 0 0 20px 0;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    text-decoration: none;
}

.btn-block img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    border-radius: 7px;
}

.btn-block p {
    color: white;
    font-family: 'Alfa Slab One', serif;
    font-size: 34px;
    text-align: center;
    line-height: 1.1em;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border-radius: 7px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 20px;
}

.btn-block p:hover {
    z-index: 9;
    text-decoration: underline;
    text-decoration-color: var(--secondary);
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.527));
}

.btn-block .gradient-b2t {
    border-radius: 7px;
}


@media only screen and (min-width: 992px) {
    .btn-block {
        width: calc(calc(100% - 40px) / 3);
    }

    .btn-block-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-end;
    }

    .btn-block p {
        font-size: 38px;
    }
}

/* button block end */

/* calendar start */

.event-container {
    display: flex;
    flex-flow: row nowrap;
    margin: 0 0 20px 0;
}

.event-container .event-day {
    background-color: var(--primary);
    color: var(--white);
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    padding: 20px 0;
}

.event-container .event-day p {
    margin: 0;
}

.event-container .event-day p span {
    font-size: 55px;
    line-height: 65px;
}

.event-container .event-info {
    background-color: var(--light);
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    width: 70%;
    padding: 20px;
}

.event-container .event-info p {
    margin: 0;
}

.event-container .event-info p.event-name {
    font-weight: 700;
}

.event-container .event-info p.event-time {
    margin: 20px 0 10px 0;
}

@media only screen and (min-width: 992px) {
    .event-container {
        width: calc(calc(100% - 20px) / 2);
    }

    .calendar-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}

/* calendar end */

/* feature start */

.feature-container {
    width: 100%;
    height: 415px;
}

.feature-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.feature-container h3 {
    color: var(--white);
    padding: 40px;
}

.feature-container a.btn-primary {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: 40px;
    text-align: center;
}

/* feature end */

/* email newsletter start */

.email-newsletter-container p {
    text-align: center;
}

.email-newsletter-container form {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0;
    margin-bottom: 0;
}

.email-newsletter-container form input[type=submit] {
    margin-top: 20px;
}

.email-newsletter-container form input[type=text] {
    width: 100%;
}

@media only screen and (min-width: 992px) {
    .email-newsletter-container form input[type=text] {
        width: 500px;
    }
}

/* email newsletter end */

/*wrappers*/
    .rect{
        height: 20vh;
        width: 100%;
        background-color: var(--dark);
    }

    .wrapper{
        display:flex;
    }
    
    .menu-wrapper-order{
        width: 45%;
        margin-left: 16vw;
    }
    
     @media only screen and (max-width: 992px) {
        .menu-wrapper-order{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        }
     }
/*end wrappers*/

/*order sidebar*/
    .order-sidebar{
        flex:1;
        position: relative;
        margin-right: 0;
        padding-left: 40px;
        margin-top: 42px;
        display: block;
    }
    
    .order-sidebar-content{
        display: none;
    }

    .order-body{
        background-color: var(--light);
        padding: 20px;
        border-radius: 7px;
    }

   .order-entry{
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: flex-end;
    }

    .order-item{
        flex: 1;
        padding:10px;
    }

    .order-quanity{
        padding:10px;
    }

    .order-cost{
        padding:10px;
    }

    .order-checkout-btn{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 20px;
    }

    @media only screen and (max-width: 992px) {
        .wrapper{
            display: block;
        }

        .collapsible{
            width: 100%;
        }

        .order-sidebar{
            position: relative;
            width: 70%;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 10vh;
        }
    }
/*end order sidebar*/

/*Menu Coupon*/
    .coupon-holder{
        position: fixed;
        left: 1.75vw;
        margin-top: 5vh;
        margin-bottom: auto;
        width: 17vw;
        height: 25vw;
        overflow: hidden;
        border-radius: 7px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .overlay{
        position: fixed;
        left: 1.75vw;
        margin-bottom: auto;
        width: 17vw;
        height: 25vw;
        overflow: hidden;
        border-radius: 7px;
        z-index:4;
        background-color: rgba(255,255,255, 0.5);
    }
    
    .coupon-holder p {
        text-align: center;
        font-family: 'Alfa Slab One';
        font-size: 1.2em;
        line-height: 120%;
        color: var(--dark);
        z-index: 5;
        }
    
    .coupon-image{
        position: absolute;
        z-index: 3;
        object-fit: contain;
        /*width: 100%;*/
        height:100%;
    }
    
   @media only screen and (max-width: 992px) {
       .coupon-holder p {
            font-size: 1em; 
       }
        .coupon-holder{
            margin-top:0;
            left:0;
            position: relative;
            width: 100%;
            height: 90px;
            border-radius: 0px;
        }
        .coupon-image{
            width:100%;
            height:auto;
        }
        
        .overlay{
            margin-top: 0;
            left:0;
            position: absolute;
            width: 100%;
            height: 90px;
        }
   }
/*Menu Coupon end*/

/*collapsable styles*/
    .collapsible {
        color: white;
        cursor: pointer;
        padding: 20px;
        width: 100%;
        height: 100px;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        margin-top: 20px;
        border-radius: 7px;
    }

    .active, .collapsible:hover {
        background-color: #555;
    }

    .content {
        display: none;
        overflow: hidden;
        font-family: 'Open Sans';
    }

    .entry-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: var(--light);
        padding: 30px 20px 20px 20px;
        border-bottom-left-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    .entry{
        display: flex;
        width: 100%;
        justify-content: flex-end;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        text-align: right;
    }

    .menu-item{
        flex: 1;
        text-align: left;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
    }

    .menu-item p {
        margin: 0;
    }

    a.btn-primary.order-button{
        display: inline-block;
        height: 36px;
        font-weight: 400;
        padding: 5px 8px 7px 8px;
        text-decoration: none;
        filter: none;
        color: var(--white);
        border: 2px solid var(--white);
        font-size: 18px;
        margin: 30px 0 0 0;
        border: 1px solid transparent;
        margin: 0;
    }

    .cost{
        width: fit-content;
        padding-right: 5%;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
    }

    .collapsible:after {
    content: '\02795';
    font-size: 30px;
    color: red;
    float: right;
    margin-left: 5px;
    }
        
    .active:after {
    content: "\2796";
    }

    .menu-item .cost .order-button{
        padding: 20px;
    }

    .meat-by-the-lb{
        background-image: url(../img/meat-by-the-pound.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        font-family: 'Alfa Slab One';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 120%;
    }
    
    .lunch-menu{
        background-image: url(../img/lunchMenu.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        font-family: 'Alfa Slab One';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 120%;  
    }

    .vegetables{
        background-image: url(../img/potatoSalad.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        font-family: 'Alfa Slab One';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 120%;
    }

    .sides{
        background-image: url(../img/bread.jpg);
        background-repeat: no-repeat;
        background-size: cover;

        font-family: 'Alfa Slab One';
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 120%;
    }
/* end collapsable styles*/

/* our story image container start */

section.our-story {
    margin-lefT: 0;
    margin-right: 0;
    width: 100%;
    padding: 0;
}

.our-story-img {
    filter: drop-shadow(0 0 10px var(--medium));
    border-radius: 7px;
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 85%;
    z-index: 1;
    max-height: 300px;
    max-width: 300px;
}

.our-story-quote {
    margin-top: 20px;
    color: var(--white);
    width: 100%;
}

.our-story-quote span p {
    text-align: right;
}

.our-story-img-container {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    padding: 0 40px ;
    margin: 0 0 20px 0;
}

.our-story-quote-background {
    background-color: var(--primary);
    z-index: -1;
    position: absolute;
    bottom: 0;
    height: 85%;
    width: 100%;
}

.our-story-container p {
    text-align: justify;
}

@media only screen and (min-width: 768px) {
    .our-story-quote-background {
        width: 100%;
        border-radius: 0;
        height: 230px;
        top: 35;
        right: 0;
    }

    .our-story-img {
        width: 300px;
        height: 300px;
    }

    .our-story-img-container {
        max-width: 100%;
        height: 300px;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        padding: 0;
        margin: 0;
    }

    .our-story-quote {
        width: 30%;
        margin-left: 20px;
    }

    div.our-story {
        margin-top: 40px;
        padding-left: 10%;
        padding-right: 10%;
    }
}

/* our story image container end */

/* reviews */

.review-img-name {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

.review-img-name img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.review-name-date {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
}

.review-name-date h4, .review-name-date p {
    margin: 0 0 0 10px;
}

.review-container i {
    color: var(--secondary);
    margin: 20px 0;
}

.review-container {
    margin: 40px 0;
}

@media only screen and (min-width: 992px) {
    .review-container {
        width: 80%;
        margin: 20px 0;
    }

    .reviews {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: flex-start;
    }
}

/* reviews end */

/* media */

.media {
    margin-left: 0;
    margin-right: 0;
    padding: 40px 40px 20px 40px;
    margin: 0 0 40px 0;
}

.media h2 {
    color: var(--white);
}

.media-container {
    text-align: center;
    margin: 40px 0;
    color: var(--white);
}

.media-container a {
    color: var(--white);
}

.media-container a:hover {
    color: var(--primary);
}

.media-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.media-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (min-width: 992px) {
    .media {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .media h2 {
        width: 100%;
    }

    .media-container {
        width: 33.33%;
        padding: 0 20px;
    }
}

@media only screen and (min-width: 992px) {
    .media {
        padding-left: calc(3% + 40px);
        padding-right: calc(3% + 40px);
    }
}

/* media end */

/*form*/

.wrapperCHK{
    display:block;
    margin-left: 10%;
    margin-right: 10%;
    
}

form {
	margin-bottom: 2.618rem;
    font-family: 'Open Sans', 'Arial', 'Helvetica', sans-serif;
}
fieldset {
	margin: 0;
	margin-bottom: .75rem;
}
legend {
	padding-top: 1rem;
}

 .order-sidebar2{
        display: block;
    }

 @media only screen and (min-width: 992px) {
        .wrapperCHK{
            display: flex;
            margin-left: auto;
            margin-right: auto;
            flex-direction: row-reverse;
            width: 90%;
        }
        
        form{
            flex: 1;
            padding-right:5%;
        }

        .order-sidebar2{
            width: 30vw;
            margin-top: 54px;
        }
    }

/*end of form*/

/*begin tables*/
table{
    table-layout: auto;
    width: 65%;
    margin-left:auto;
    margin-right:auto;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    margin-top: 30px;
    margin-bottom: 40px;
}

th, td {
    padding: 12px 15px;
}

tbody tr:nth-of-type(even) {
    background-color: var(--light);
}

.input{
    text-align: right;
}

/*end tables*/

/*begin merch item*/

.merch-hero{
    display:flex;
    width:100vw;
    height: 200px;
    justify-content: center;
    align-items: flex-end;
}

.merch-hero h1 {
    color: var(--white);
}

.merch-hero-overlay{
    position: absolute;
    width:100vw;
    height: 200px;
    background-color: rgba(255,255,255, 0.5);
    z-index: 6;
}

.merch-hero img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 200px;
    z-index: 0;
}

.merch-item-container{
    display:flex;
    flex-direction:column;
    width: 20vw;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    border-radius: 7px;
    overflow: hidden;
    background-color: var(--light);
}

.merch-item-container p, .merch-item-container .merch-cost-container p {
    padding: 10px;
    margin: 0;
}

.merch-item-container a.order-button {
    margin-bottom: 10px;
}

.merch-item-container img{
    object-fit: cover;
    aspect-ratio: 1/1;
    width: 20vw;
}

.merch-item-container select{
    margin-bottom: 10px;
}

.name-cost-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.body-items-contaier{
    margin-top: 30px;
    display: flex;
    flex-flow: row-wrap;
    justify-content: space-around;
}

.merch-cart{
    margin-top: 20px;
    display:none;
}

@media only screen and (max-width: 992px) {
    .merch-item-container{
        width: 100%;
        margin-bottom: 40px;
    }
    
    .merch-item-container img{
        width: 100%;
    }
    
    .body-items-contaier{
        display: block;
        width: 70vw;
        margin-right: auto;
        margin-left: auto;
    }
}
/*end merch item*/

/* catering */

.general-form {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 40px;
    background-color: var(--primary);
    border-radius: 7px;
}

.general-form fieldset legend {
    color: var(--white);
}

.general-form fieldset {
    width: 100%;
}

.general-form h3, .general-form p {
    color: var(--white);
    text-align: center;
    width: 100%;
}

.catering-pictures {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 20px;
}

.catering-img-container {
    overflow: hidden;
    width: 100%;
    aspect-ratio: 5/3;
    border-radius: 7px;
    margin-bottom: 20px;
    max-width: 600px;
}

.catering-img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.catering-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: fit-content;
    overflow: hidden;
}

input[type=text]#description {
    height: 150px;
}

@media only screen and (min-width: 992px) {
    .catering-pictures {
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .catering-img-container {
        width: 32%;
    }

    .general-form {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

}

/* catering end */

/* contact */

.contact-info {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
}

input[type=text]#comment {
    height: 150px;
}

.contact-hours {
    background-color: var(--light);
    width: 100%;
    text-align: center;
    padding: 40px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.iframe-container {
    width: 100%;
    aspect-ratio: 3/4;
    max-width: 900px;
    border-radius: 7px;
    border: 5px solid var(--primary);
}

.iframe-container iframe {
width: 100%;
height: 100%;
}

.contact-form {
    text-align: center;
}

.contact-form .general-form {
    margin-bottom: 0;
}

.contact-form a {
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
}

@media only screen and (min-width: 576px) {
    .iframe-container {
        aspect-ratio: 5/3;
    }
}

/* contact end */

/* calendar page */

.host-event {
    padding: 40px;
    background-color: var(--primary);
    color: var(--white);
    text-align: center;
    border-radius: 7px;
}

.host-event h2 {
    color: var(--white);
}

.host-event p a {
    color: var(--white);
}

.host-event p a:hover {
    color: var(--dark);
}

@media only screen and (min-width: 992px) {
    .host-event {
        padding: 40px 80px;
    }
}

/* calendar page end */

/* privacy policy */

.privacy-policy h2, .privacy-policy h3, .privacy-policy h4 {
    text-align: left;
}

/* privacy policy end */
